.logo {
   display: block;

   color: $title-text-color;
   font-weight: $fw-bold;
   font-family: $secondary-font;
   font-size: 24px;
   line-height: 1.16;
   text-decoration: none;

   @media (min-width: 1200px) {
      font-size: 24px;
      line-height: 1.2;
   }

   &--accent {
   color: $acent-color;
   }

   .header__container & {
      padding-top: 16px;
      padding-bottom: 16px;
      @media (min-width: 768px) {
      padding-top: 24px;
      padding-bottom: 24px;
      }
   }   
}
