.backdrop {
   position: fixed;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;

   overflow-y: scroll;

   opacity: 1;
   background-color: rgba(0, 0, 0, 0.2);

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

}

.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
}


.modal {
   position: relative;
   
   // position: absolute;
   // top: 50%;
   // left: 50%;
   // transform: translate(-50%, -50%) scale(0.9);
   max-width: 450px;

   padding: 40px;
   
   // min-width: 450px;
   margin-left: auto;
   margin-right: auto;
   // height: auto;

   background-color: $main-white-color;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   transform: translate(-50%, -50%) scale(1);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


   @media (min-width: 768px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1);

      // max-width: 300px;
      max-width: 450px;
      width: 100%;
      

      // width: 528px;
      // height: 581px;
   }

   @media (max-width: 768px){
position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1);

      min-width: 450px;
      box-sizing: border-box;
   }
   

}

// @media (min-width: 768px) {
// .modal--active {
//     transform: translate(-50%, -50%) scale(1);
// }}


.modal-btn__exe {
   position: absolute;
   top: 8px;
   right: 8px;

   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   box-sizing: border-box;

   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 100%;
   background-color: var(--main-white-color);

   padding: 6px;
   &:hover {
      cursor: pointer;
      fill: #188ce8;
   }
}

.modal__icon {
   display: block;
   
}

.textarea {
   resize: none;
}

.form {
   display: flex;
   flex-direction: column;
   text-align: left;
   // height: auto;
   // margin: 0 auto;
}

.form__title {
   font-weight: $fw-bold;
   font-size: $fs-20;
   line-height: 1.15;
   text-align: center;
   letter-spacing: 0.03em;

   color: $title-text-color;
   margin-bottom: 12px;
   margin-top: 0;
}

.form__field {
   position: relative;

   margin-bottom: 10px;
}

.form__label {
   display: inline-block;
   font-weight: $fw-normal;
   font-size: $fs-12;
   line-height: 1.17;
   letter-spacing: 0.01em;
   margin-bottom: 4px;
}

.form__input {
   width: 100%;

   font-family: inherit;
   box-sizing: border-box;

   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding: 11px 12px;
   padding-left: 42px;
   outline: 0;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:focus-within {
      border: 1px solid #188ce8;
   fill: $acent-color;
   }
}

.form__icon {
   display: block;
   position: absolute;
   top: 65%;
   left: 12px;
   width: 18px;
   height: 18px;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   .form__field:focus-within & {
      fill: $acent-color;
   }
}

.comment {
   position: relative;
   display: flex;
   flex-direction: column;

   margin-bottom: 20px;   
}

.comment__label {
   font-weight: $fw-normal;
   font-size: $fs-12;
   line-height: 1.17;
   letter-spacing: 0.01em;
   margin-bottom: 4px;
}

.comment__text {
   // width: 100%;

   height: 120px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   font-weight: $fw-normal;
   font-size: $fs-12;
   line-height: 1.17;
   border-radius: 4px;
   letter-spacing: 0.01em;
   outline: 0;
   
   padding: 12px 16px;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   resize: none;
   &:focus-within {
border: 1px solid $lonely-button;
   fill: $acent-color;}
   &::placeholder {
   color: rgba(117, 117, 117, 0.5);
}

}

.checkbox {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
}

.checkbox__field {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.checkbox__field:checked+.checkbox__icon {
   border-color: $acent-color;
   background-color: $acent-color;
   background-image: url("../images/vector.svg");
   background-size: contain;
   background-origin: border-box;
}

.checkbox__field:checked:focus+.checkbox__icon {
   
   outline: 1px solid $lonely-button;
   
}

.checkbox__icon {
   display: block;
   background-color: var(--main-white-color);
   width: $fs-16;
   height: 15px;
   border: 1.5px solid $title-text-color;
   border-radius: 4px;
   margin-right: 7px;
   
}

.checkbox__link {
   font-size: $fs-14;
   line-height: 1.71;
   letter-spacing: 0.03em;

   color: $acent-color;
   margin-left: 8px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   @media (max-width: 768px) {
font-size: 12px;
   line-height: 1.16;
   }
      
}


.checkbox-text {
   font-size: $fs-14;
   line-height: 1.71;
   letter-spacing: 0.03em;
   @media (max-width: 768px) {
font-size: 12px;
   line-height: 1.16;
   }
}

.form__button {
   display: inline-block;
   width: 100%;
   text-align: center;
}

.form__btn {
   font-family: inherit;

   padding: 10px 52px;
   max-width: 200px;

   font-size: $fs-16;
   line-height: 1.88;
   font-weight: $fw-bold;
   letter-spacing: 0.06em;

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border-color: transparent;
   font-family: inherit;
   background-color: $acent-color;
   color: $main-white-color;

   cursor: pointer;
   border: none;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:focus,
   &:hover {
      background-color: $lonely-button;
      color: $main-white-color;
   }

}



